footer{
	position: relative;
	z-index: 10;
	padding: 15px 0px;

	a{
		color:white;
	}


}

body[data-section='inicio'] footer, body[data-section='como-llegar'] footer{
	@media(max-width: 990px){
		position: fixed;
		width: 100%;
		background-color: #080808;
		bottom: 0;
	}
}