footer{
	position: fixed;
	bottom: 0;
	width: 100%;
    background-color: $bgcolor;


	z-index: 10;
	padding: 10px 0px;	
	height: $footer-height;

	a{
		color:white;
	}


}

body[data-section='inicio'] footer, body[data-section='como-llegar'] footer{
	@media(max-width: 990px){
		position: fixed;
		width: 100%;
		background-color: #080808;
		bottom: 0;
	}
}