.header {
	background-color: white;
	min-height: $header-height;
	position: fixed;
	width: 100%;
	top: 0;
	
	.navbar{
		margin: 10px 0px;

	}

	.navbar-brand{
		padding: 5px 0;
	}	

	h1{
		margin: 0;
		padding: 0;
		font-size: 45px;
		line-height: 40px;
		color: $mainBlue;
		font-weight: bold;

		&:first-letter{
			color: red;
			font-size: 50px;
		}
	}
}


// @each $section in 'casa-azul' 'el-entorno' 'actividades' 'pilates' 'tomates' 'fotografias' 'precios' 'reservas' 'contacto' 'como-llegar' {
// 	[data-section='#{$section}'] {

// 		.navbar-nav > a[href='##{$section}']{
// 			color: grey;
// 			background-color: black;
// 		}
		
// 	}
// }

// a[href$='actividades']{
// 	color: red;
// }


