
main{
	// background: url(../img/slides/fondobody.jpeg);
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center right;


	position: relative;
	// overflow: hidden;

	height: 100%;



	&:before{
		@include overlay();

	}
	


	@media(max-width: 990px){

		background-image: none;

		.txt-image{
			margin-bottom: 20px;
		}
	}

	@media(max-width: 990px){
		height: auto;

		

		&:before{
			// display: none;
		}
	}


	
}




section{
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 50px;


	@include position(absolute, 0px 0px auto 0px)
	transform: translateY(100px);

	&#section-inicio{
		transform:translateY(0);
	}


	

	@media(max-width: 990px){
		padding-top: 10px;
		z-index: 2;
		// display: none;
		// visibility: hidden;

		
	}

}

body{
	


	&[data-section='inicio'] main, &[data-section='como-llegar'] main{



		&:before{
			opacity: 0;
			
		}

		@media(max-width: 990px){
			height: 100%;
		}



		
	}




	
}





@each $section in 'inicio' 'casa-azul' 'el-entorno' 'actividades' 'pilates' 'tomates' 'fotografias' 'precios' 'reservas' 'contacto' 'como-llegar' {
	[data-section='#{$section}'] {
		section#section-#{$section}{
			@include activeSection();

			@if($section == 'como-llegar'){

				height: 100%;
			}

			@if($section == 'inicio'){
position: absolute;
				height: 100%;
			}


		}
	}
}

