* {
/*  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;*/
}

body {
  font: 300 15px 'Indie Flower', serif;

  color: white;
  padding-top: $header-height;


    background-color: #080808;
 
}
body,html{
	min-height: 100vh;
  

  height: 100%;

}




h2{
	    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

h3{
	font-weight: bold;
}