* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font: 300 16px/1.6 'Indie Flower', serif;

  color: #444;
 
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}