* {
/*  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;*/
}

body {
  font: 300 15px 'Indie Flower', serif;

  color: white;
  padding-top: $header-height;
  padding-bottom: $footer-height;


  background-color: $bgcolor;



  background: url(../img/slides/slide0.jpg);


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;

  @media(max-width: 990px){
     // background: url(../img/slides/slide0-mobile.jpg);

     height: auto;
     
     &[data-section='como-llegar']{
      height: 100%;      
    }



  }

}
body,html{

 min-height: 100vh;
 height: 100%;



}




h2{
 font-size: 40px;
 margin-bottom: 40px;
 text-align: center;
 font-weight: bold;

 @media(max-width: 768px){
  font-size: 30px;
}
}

h3{
  font-weight: bold;
}