@mixin activeSection () {
	opacity: 1;
	visibility: visible;
    height: auto;
    transform: translateY(0);
        // top:0;
        transition: 0.5s all ease-in-out;
        position: relative;	

        @media(max-width: 990px){
        	display: block;

        }


    }
