

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron h1, .jumbotron .h1{
	font-size: 25px;
}

.jumbotron p{
	font-size: 13px;
}

/*Formulario*/

.form-control{
	margin-bottom: 10px;
}

form small{
	font-size: 10px;
	color:#6b6b6b;
}


.return-info{
	float: right;
    height: 44px;
    display: block;
    width: 63%;
    /*background: red;*/
}

.error{
	color:red;
}











