.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font: 300 16px/1.6 'Indie Flower', serif;
  color: #444;
  font-size: 17px; }

body, html {
  min-height: 100vh;
  overflow: hidden; }

h2 {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold; }

h3 {
  font-weight: bold; }

.blueimp-gallery {
  background-image: url(../img/fondotomate.png);
  background-size: cover; }
  .blueimp-gallery > .close {
    font-family: Arial; }
  .blueimp-gallery > .title {
    position: absolute;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    text-align: center; }

.header {
  background-color: white;
  min-height: 77px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1; }
  .header .navbar {
    margin: 10px 0px; }
  .header .navbar-brand {
    padding: 5px 0; }
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 40px;
    color: #0A3666;
    font-weight: bold; }
    .header h1:first-letter {
      color: red;
      font-size: 50px; }

body {
  background: url(../img/fondobody2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white; }
  body:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }

main {
  margin-top: 77px;
  padding: 40px 0px; }

section {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(100px);
      transform: translateY(100px);
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  top: 50%;
  margin-top: -250px; }

[data-section='casa-azul'] section#casa-azul {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='el-entorno'] section#el-entorno {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='actividades'] section#actividades {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='pilates'] section#pilates {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='tomates'] section#tomates {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='fotografias'] section#fotografias {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='precios'] section#precios {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='reservas'] section#reservas {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='contacto'] section#contacto {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

[data-section='como-llegar'] section#como-llegar {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out; }

footer {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  padding: 5px 0px; }

#fotografias img[data-gallery] {
  cursor: pointer; }

#reservas input, #reservas select {
  margin-bottom: 20px;
  font-size: 17px; }

#contacto p {
  font-size: 20px; }

#contacto a {
  color: white;
  text-decoration: underline; }

#contacto input {
  margin-bottom: 10px; }

#como-llegar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 77px;
  margin-top: 0; }
  #como-llegar iframe {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
