.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  /*  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;*/ }

body {
  font: 300 15px 'Indie Flower', serif;
  color: white;
  padding-top: 80px;
  background-color: #080808; }

body, html {
  min-height: 100vh;
  height: 100%; }

h2 {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold; }

h3 {
  font-weight: bold; }

.blueimp-gallery {
  background-image: url(../img/fondotomate.png);
  background-size: cover; }
  .blueimp-gallery > .close {
    font-family: Arial; }
  .blueimp-gallery > .title {
    position: absolute;
    top: 15px;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    text-align: center; }

#myCarousel {
  position: relative; }

.carousel,
.item,
.active {
  height: 100%; }

.item .container {
  position: relative;
  height: 100%; }

.carousel-control {
  width: 60px; }

.carousel-control .icon-prev, .carousel-control .icon-next {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 53px;
  line-height: 35px; }

.carousel-inner {
  height: 100%; }

/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-size: cover;
  -o-background-size: cover; }

.bg-center {
  background-position: bottom center; }

.bg-center-center {
  background-position: center center; }

.bg-left {
  background-position: bottom left; }

.bg-right {
  background-position: bottom right; }

.bg-left-top {
  background-position: left top; }

.bg-right-bottom {
  background-position: right bottom; }

.bg-left-bottom {
  background-position: left bottom; }

.bg-top-center {
  background-position: top center; }

/*Test carousel fade*/
.carousel-fade .carousel-inner .item {
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.item {
  background-size: cover;
  background-position: center center; }

#slide0 {
  background-image: url(../img/slides/fondobody.jpeg); }

#slide1 {
  background-image: url(../img/slides/slide1.jpg); }

#slide2 {
  background-image: url(../img/slides/slide2.jpg); }

#slide3 {
  background-image: url(../img/slides/slide3.jpg); }

#section-inicio {
  top: 0;
  height: 100%;
  padding: 0; }

.header {
  background-color: white;
  min-height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; }
  .header .navbar {
    margin: 10px 0px; }
  .header .navbar-brand {
    padding: 5px 0; }
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 25px;
    color: #0A3666;
    font-weight: bold;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    padding: 10px 0 10px 81px;
    position: relative;
    top: -11px; }
    .header h1 span {
      text-indent: 13px;
      display: block; }
    .header h1:first-letter {
      color: red;
      font-size: 30px; }

[data-section='inicio'] .navbar-nav .nav-inicio > a, [data-section='inicio'] .navbar-nav .nav-inicio > a:hover {
  color: #fb6161; }

[data-section='inicio'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-inicio > a {
  color: #fb6161; }

[data-section='inicio'] .nav-inicio > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='casa-azul'] .navbar-nav .nav-casa-azul > a, [data-section='casa-azul'] .navbar-nav .nav-casa-azul > a:hover {
  color: #fb6161; }

[data-section='casa-azul'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-casa-azul > a {
  color: #fb6161; }

[data-section='casa-azul'] .nav-casa-azul > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='el-entorno'] .navbar-nav .nav-el-entorno > a, [data-section='el-entorno'] .navbar-nav .nav-el-entorno > a:hover {
  color: #fb6161; }

[data-section='el-entorno'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-el-entorno > a {
  color: #fb6161; }

[data-section='el-entorno'] .nav-el-entorno > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='actividades'] .navbar-nav .nav-actividades > a, [data-section='actividades'] .navbar-nav .nav-actividades > a:hover {
  color: #fb6161; }

[data-section='actividades'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-actividades > a {
  color: #fb6161; }

[data-section='actividades'] .nav-actividades > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='pilates'] .navbar-nav .nav-pilates > a, [data-section='pilates'] .navbar-nav .nav-pilates > a:hover {
  color: #fb6161; }

[data-section='pilates'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-pilates > a {
  color: #fb6161; }

[data-section='pilates'] .nav-pilates > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='tomates'] .navbar-nav .nav-tomates > a, [data-section='tomates'] .navbar-nav .nav-tomates > a:hover {
  color: #fb6161; }

[data-section='tomates'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-tomates > a {
  color: #fb6161; }

[data-section='tomates'] .nav-tomates > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='fotografias'] .navbar-nav .nav-fotografias > a, [data-section='fotografias'] .navbar-nav .nav-fotografias > a:hover {
  color: #fb6161; }

[data-section='fotografias'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-fotografias > a {
  color: #fb6161; }

[data-section='fotografias'] .nav-fotografias > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='precios'] .navbar-nav .nav-precios > a, [data-section='precios'] .navbar-nav .nav-precios > a:hover {
  color: #fb6161; }

[data-section='precios'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-precios > a {
  color: #fb6161; }

[data-section='precios'] .nav-precios > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='reservas'] .navbar-nav .nav-reservas > a, [data-section='reservas'] .navbar-nav .nav-reservas > a:hover {
  color: #fb6161; }

[data-section='reservas'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-reservas > a {
  color: #fb6161; }

[data-section='reservas'] .nav-reservas > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='contacto'] .navbar-nav .nav-contacto > a, [data-section='contacto'] .navbar-nav .nav-contacto > a:hover {
  color: #fb6161; }

[data-section='contacto'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-contacto > a {
  color: #fb6161; }

[data-section='contacto'] .nav-contacto > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

[data-section='como-llegar'] .navbar-nav .nav-como-llegar > a, [data-section='como-llegar'] .navbar-nav .nav-como-llegar > a:hover {
  color: #fb6161; }

[data-section='como-llegar'] .navbar-default .navbar-nav .open .dropdown-menu > li.nav-como-llegar > a {
  color: #fb6161; }

[data-section='como-llegar'] .nav-como-llegar > a:not(.dropdown-toggle) {
  pointer-events: none;
  cursor: default; }

main {
  background: url(../img/slides/fondobody.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  position: relative;
  height: 650px; }
  main:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
  @media (max-width: 1200px) {
    main {
      height: 750px; } }
  @media (max-width: 990px) {
    main .txt-image {
      margin-bottom: 20px; } }
  @media (max-width: 990px) {
    main {
      height: auto; }
      main:before {
        display: none; } }

section {
  opacity: 0;
  visibility: hidden;
  padding-top: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  -ms-transform: translateY(100px);
      transform: translateY(100px); }
  section#section-inicio {
    -ms-transform: translateY(0);
        transform: translateY(0); }
  @media (max-width: 990px) {
    section {
      padding-top: 10px;
      z-index: 2;
      display: none;
      background-color: rgba(0, 0, 0, 0.8); } }

body[data-section='inicio'] main:before, body[data-section='como-llegar'] main:before {
  display: none; }

@media (max-width: 990px) {
  body[data-section='inicio'] main, body[data-section='como-llegar'] main {
    height: 100%; } }

[data-section='inicio'] section#section-inicio {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='inicio'] section#section-inicio {
      display: block; } }

[data-section='casa-azul'] section#section-casa-azul {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='casa-azul'] section#section-casa-azul {
      display: block; } }

[data-section='el-entorno'] section#section-el-entorno {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='el-entorno'] section#section-el-entorno {
      display: block; } }

[data-section='actividades'] section#section-actividades {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='actividades'] section#section-actividades {
      display: block; } }

[data-section='pilates'] section#section-pilates {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='pilates'] section#section-pilates {
      display: block; } }

[data-section='tomates'] section#section-tomates {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='tomates'] section#section-tomates {
      display: block; } }

[data-section='fotografias'] section#section-fotografias {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='fotografias'] section#section-fotografias {
      display: block; } }

[data-section='precios'] section#section-precios {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='precios'] section#section-precios {
      display: block; } }

[data-section='reservas'] section#section-reservas {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='reservas'] section#section-reservas {
      display: block; } }

[data-section='contacto'] section#section-contacto {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='contacto'] section#section-contacto {
      display: block; } }

[data-section='como-llegar'] section#section-como-llegar {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: 0.5s all ease-in-out;
  position: relative; }
  @media (max-width: 990px) {
    [data-section='como-llegar'] section#section-como-llegar {
      display: block; } }

footer {
  position: relative;
  z-index: 10;
  padding: 15px 0px; }
  footer a {
    color: white; }

@media (max-width: 990px) {
  body[data-section='inicio'] footer, body[data-section='como-llegar'] footer {
    position: fixed;
    width: 100%;
    background-color: #080808;
    bottom: 0; } }

#section-fotografias {
  padding-top: 10px; }
  #section-fotografias h3 {
    text-align: center;
    font-size: 20px; }
  #section-fotografias img[data-gallery] {
    cursor: pointer; }

#section-reservas input, #section-reservas select {
  margin-bottom: 20px; }

#section-contacto {
  padding-top: 10px; }
  #section-contacto p {
    font-size: 17px; }
  #section-contacto a {
    color: white;
    text-decoration: underline; }
  #section-contacto input {
    margin-bottom: 10px; }

#section-como-llegar {
  -ms-transform: translateY(0);
      transform: translateY(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  height: 100%; }
  #section-como-llegar iframe {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
